import copy
import re 
import requests
from bs4 import BeautifulSoup

r = requests.get("https://docs.google.com/document/d/e/2PACX-1vRMx5YQlZNa3ra8dYYxmv-QIQ3YJe8tbI3kqcuC7lQiZm-CSEznKfN_HYNSpoXcZIV3Y_O3YoUB1ecq/pub")
soup = BeautifulSoup(r.text, "html.parser")

code = soup.text.split("coordinate")



coords = dict()
x = re.findall("[0-9]+\D[0-9]", code [2])

for a in x:
    if a[1] not in "0123456789":
        coords[(int(a[0]), int(a[2]))] = a[1]
    else:
        coords [(int(a[0:2]), int(a[3]))] = a[2]
HEIGHT = 10
WIDTH = 100

for y in range (HEIGHT) :
    for x in range(WIDTH):
        try:
            print (coords[(x, y)], end='')
        except:
            continue
    try:
        print()
    except:
        continue
